@import "../../node_modules/bootstrap/dist/css/bootstrap.min.css";
@import "../../node_modules/font-awesome/css/font-awesome.min.css";
@import "../../node_modules/flag-icon-css/css/flag-icon.css";
@import "../../node_modules/react-select/dist/react-select.css";

body {
  background: #fc00ff; /* fallback for old browsers */
  background: -webkit-linear-gradient(to bottom, #fc00ff , #00dbde); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to left, #fc00ff , #00dbde); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding-top: 25px;
}

a {
  color: inherit;
}


/* Grow */
.hvr-grow {
    display: inline-block;
    vertical-align: middle;
    transform: translateZ(0);
    box-shadow: 0 0 1px rgba(0, 0, 0, 0);
    backface-visibility: hidden;
    -moz-osx-font-smoothing: grayscale;
    transition-duration: 0.3s;
    transition-property: transform;
}

.hvr-grow:hover,
.hvr-grow:focus,
.hvr-grow:active {
    transform: scale(1.1);
}

.addUserSection {
  background-color: rgba(50, 50, 50, .3);
  padding: 40px;
  color: white;
  border-radius: 3px;

}

.fa{
  cursor: pointer;
  &:hover{
    color: white;
  }
}

.card-columns{
  .card{
    color: rgb(50, 50, 50);
    background-color: rgba(255, 255, 255, .3);
    border: 0;
    padding-top: 15px;
    padding-bottom: 15px;
    .text-muted {
      background: white;
      padding: 10px;
      border-radius: 40px;
    }
  }
}
